<section id="contact" class="p-8 bg-gray-100 text-primary">
    <div class="max-w-lg mx-auto">
        <h2 class="text-3xl font-bold mb-4 text-center">Contact Me</h2>
        <form (submit)="sendEmail($event)" class="flex flex-col space-y-4" novalidate>
            <input type="text" name="from_name" ngModel placeholder="Your Name" class="p-2 border rounded" required />
            <input type="email" name="from_email" ngModel placeholder="Your Email" class="p-2 border rounded"
                required />
            <textarea name="message" ngModel placeholder="Your Message" class="p-2 border rounded h-32 resize-none"
                required></textarea>
            <button type="submit"
                class="px-4 py-2 bg-primary text-secondary rounded hover:bg-gray-800 transition-colors duration-300">
                Send
            </button>
        </form>
    </div>
</section>