<div class="project-detail-container" *ngIf="projectDetails">
    <div class="back-button">
        <button (click)="goBack()">
            <div class="back-icon"></div> Back
        </button>
    </div>

    <h1 class="title">{{ projectDetails.title }}</h1>
    <p class="description">{{ projectDetails.description }}</p>

    <div class="content">
        <markdown class="markdown-body" *ngIf="markdownContent" [data]="markdownContent"></markdown>
        <p *ngIf="!markdownContent">Loading project details...</p>
    </div>
</div>