<footer class="bg-primary text-secondary py-6">
    <div class="container">
        <!-- Social Media Links -->
        <div class="social-icons">
            <a href="https://github.com/r-a-j" target="_blank" class="hover:text-accent" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/rajpawar/" target="_blank" class="hover:text-accent"
                aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://dev.to/rajpawar" target="_blank" class="hover:text-accent" aria-label="Dev.to">
                <i class="fab fa-dev"></i>
            </a>
            <a href="https://instagram.com/raj.pwr" target="_blank" class="hover:text-accent" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

        <!-- Contact Links -->
        <div class="contact-links">
            <a href="mailto:er.rajpawar@gmail.com">er.rajpawar&#64;gmail.com</a>
        </div>
    </div>

    <!-- Copyright Text -->
    <div class="text-center mt-4 text-sm">
        <p>&copy; {{ currentYear }} Raj Pawar. All Rights Reserved.</p>
    </div>
</footer>