// Section Styles
section {
    @apply h-screen flex flex-col justify-center items-center text-primary text-center px-4;
    background-color: var(--color-primary);
}

// Profile Picture
.profile-picture {
    @apply rounded-full border-4 shadow-lg;
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow-hover);
}

div.relative div {
    display: none;
}

// Greeting Text
h1 {
    @apply font-bold animate-fadeIn mt-6 text-secondary;
    color: var(--color-secondary);
}

p {
    @apply mt-4 text-lg md:text-xl max-w-xl;
    color: var(--color-secondary);
    /* Adjusted to a brighter secondary color for better readability */
}

.text-accent {
    color: var(--color-accent);
}

// Call-to-Action Button
button {
    @apply mt-8 px-8 py-3 rounded-lg font-medium flex items-center justify-center gap-2 shadow-lg;
    background: var(--color-primary-dark);
    color: var(--color-secondary);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
        background: var(--color-primary-dark);
    }
}

// Animations
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}