<section
    class="h-screen flex flex-col justify-center items-center bg-gradient-to-b from-gray-700 via-gray-800 to-gray-900 text-primary text-center px-4">
    <img src="profile.png" alt="Profile Picture"
        class="w-24 h-24 rounded-full border-4 border-primary shadow-lg">
    <h1 class="text-3xl md:text-5xl font-bold animate-fadeIn mt-4">{{ greeting }}, I'm Raj Pawar</h1>
    <p class="mt-4 text-lg md:text-xl max-w-xl">
        A passionate Data Scientist and a skilled Software Engineer.
    </p>
    <button
        class="mt-8 px-8 py-3 bg-primary text-secondary rounded-lg font-medium hover:bg-gray-800 transition-colors duration-300 flex items-center justify-center gap-2 animate-bounce">
        <a routerLink="/projects">View My Work</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </button>
</section>