<section class="h-screen flex flex-col justify-center items-center bg-primary-dark text-primary text-center px-4">
    <!-- Profile Picture -->
    <div class="relative">
        <img src="profile_1_yellow_bg.png" alt="Profile Picture"
            class="w-28 h-28 md:w-36 md:h-36 rounded-full border-4 border-accent shadow-lg profile-picture">
        <div class="absolute inset-0 w-full h-full rounded-full border-4 border-transparent bg-accent blur-md">
        </div>
    </div>

    <!-- Greeting -->
    <h1 class="text-4xl md:text-5xl font-bold animate-fadeIn mt-6 text-secondary">
        {{ greeting }}, I'm <span class="text-accent">Raj Pawar</span>
    </h1>

    <!-- Description -->
    <p class="mt-4 text-lg md:text-xl max-w-xl text-secondary">
        I’m a passionate <span class="text-accent font-semibold">Data Scientist</span> and a skilled
        <span class="text-accent font-semibold">Software Engineer</span>, driven by curiosity and innovation.
    </p>

    <!-- Call-to-Action Button -->
    <div class="mt-8 flex flex-col sm:flex-row gap-4 justify-center items-center">
        <!-- CV Button -->
        <button (click)="openCV()"
            class="px-8 py-3 bg-blue-600 text-white rounded-lg font-medium flex items-center justify-center gap-2 shadow-lg hover:scale-105 transition-transform">
            CV
            <img src="icons/document-icon.svg" alt="CV Icon" class="h-5 w-5" />
        </button>

        <!-- Projects Button -->
        <a routerLink="/projects" class="font-medium">
            <button
                class="px-8 py-3 bg-accent text-secondary rounded-lg font-medium flex items-center justify-center gap-2 shadow-lg hover:scale-105 transition-transform custom-project-btn">
                Project's
                <img src="icons/project-icon.svg" alt="Projects Icon" class="h-5 w-5" />
            </button>
        </a>
    </div>

    <app-cv-modal [show]="showCVModal" [pdfUrl]="aboutContent.pdfPath" [modalTitle]="aboutContent.modalTitle"
        (close)="closeCV()">
    </app-cv-modal>

</section>