.projects-container {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;

    .heading {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        color: #333;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;

        .project-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
            }

            .thumbnail {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .info {
                padding: 1rem;
                text-align: left;

                .title {
                    font-size: 1.25rem;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    color: #222;
                }

                .description {
                    font-size: 0.9rem;
                    color: #555;
                }
            }

            .button-container {
                padding: 1rem;
                text-align: right;

                .github-button {
                    display: inline-flex;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: #fff;
                    background-color: #333;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #555;
                    }

                    .github-logo {
                        width: 20px;
                        height: 20px;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}