<section id="technologies" class="p-8 bg-white text-primary">
    <div class="max-w-4xl mx-auto text-center">
        <h1 class="page-heading">Skills</h1>

        <!-- Loop through categories -->
        <div *ngFor="let category of categories" class="tech-section">
            <div class="tech-grid">
                <!-- Loop through technologies -->
                <div class="tech-card" *ngFor="let tech of category.technologies">
                    <a [href]="tech.link" target="_blank" rel="noreferrer">
                        <img [src]="tech.image" [alt]="tech.name" class="h-16 mx-auto">
                    </a>
                    <span class="block mt-2 font-extrabold text-gray-700">{{ tech.name }}</span>
                </div>
            </div>
        </div>
    </div>
</section>