@use "@fontsource/inter" as *;

@tailwind base;
@tailwind components;
@import "github-markdown-css/github-markdown-light.css";
@tailwind utilities;

:root {
  --color-primary: #0d3b66;
  --color-primary-hover: #082d4d;
  --color-primary-dark: #0b2841;

  --color-secondary: #fafafa;
  --color-secondary-hover: #f4f4f4;

  --color-accent: #f4d35e;
  --color-accent-hover: #e9b44c;

  --color-text-primary: #2a2a2a;
  --color-text-secondary: #595959;
  --color-text-muted: #737373;

  --color-border: #e5e5e5;

  --border-radius: 16px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 8px 20px rgba(0, 0, 0, 0.2);

  --font-title-size: 1.2rem;
  --font-description-size: 0.9rem;
  --font-heading-size: 2.5rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

html,
body {
  height: 100%;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.markdown-body {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.page-heading {
  font-size: var(--font-heading-size);
  text-align: center;
  margin-bottom: var(--spacing-large);
  color: var(--color-text-primary);
  font-weight: bolder;
}